/ispiti/racunarstvo/20220615/myimgur/django
/lab3/pero
/lab5/django/
/lab6/django/
/lab7/myimgur/django/
/lab7/myimgur/imgur/__pycache__
/lab7/myimgur/app/__pycache__
__pycache__/
**/__pycache__
**.pyc
*.py[cod]
.django/